body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color:#334054;
}



header h1{
    background-color: #334054;
    padding: 2rem 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

header h2{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem;
}

header h3{
    font-size: 1.0rem;
    opacity: 0.4;
    text-align: center;
}

.first-line{
    border-top: 4px solid #334054;
    margin-top: 2rem;
    margin-bottom: 0px;
    width: 92%;
}
.second-line{
    border-top: 2px solid #334054;
    margin-top: 0.3rem;
    width: 92%;
}

.third-line{
    margin: 2rem auto; 
    border-top: 2px solid #334054;
    width: 92%;
}


.form-input{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
.form-input label{
    opacity: 0.7;
    margin-bottom: 0.5rem;
}

.newsletter-input{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.newsletter-input label{
    opacity: 0.7;
    margin-bottom: 0.7rem;   
    margin-top: 1rem;
}


.form-input input{
    background: #EEEEEE;
    outline:none;
    padding: 10px;
    border: none;   
    border-radius: 5px;
    margin-bottom: 1rem;

  }

.form-input select{
    background: #EEEEEE;
    outline:none;
    padding: 10px;
    border: none;   
    margin-bottom: 1rem;
}
  
  .form-input input:focus{
    border:1px solid #56b4ef;
    box-shadow: 0px 0px 3px 1px #c8def0;
  }

  .form-input input::placeholder{
      text-align: right;
      padding-right: 0.4rem;
      opacity: 0.6;
  }
  
  .form-group{
      display: flex;
      flex-direction: column;
  }
  #zip{
      width: 50%;
  }

  .checkbox-group input{
      margin-top: 0.7rem;
      margin-right: 0.7rem;
    }

.newsletter-format{
    margin-top: 1.2rem;
}

textarea{
    background: #EEEEEE;
    outline:none;
    padding: 10px;
    border: none;   
    border-radius: 5px;
    margin-bottom: 1rem;
}

.sign-up-button{
    border: none;
    color: white;
    background-color: #49bf9d;
    width: 90%;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 1rem;
}


.sign-up-div{
    text-align: center  ;
}

footer{
    text-align: center;
    opacity: 0.7;
    padding: 2rem 0;
}

.copyright{
    font-size: 0.9rem;
}

.contact-label{
    width: 90%;
    margin: 1.5rem auto;
}
.newsletter-label{
    width: 90%;
    margin: 1.5rem auto;
}
@media (min-width: 768px) {
    .form-input{
        display: flex;
        flex-direction: row;
    }

    main{
        width: 80%;
        margin: 0 auto;
    }


    .form-input input{
        flex: 4;
    }
    .form-input label {
        flex: 1;
    }

    .form-input select{
        flex: 4;
    }
}